/*=S 覆盖site.css*/
body, input, textarea, select, td {
	font-size: 12px;
	font-family: "宋体", "Arial Narrow", HELVETICA, sans-serif;
	line-height: normal;
}
a:link, a:visited, a:hover, a:active {/*设置链接line-height时四种状态都设，否则会被site.css覆盖*/
	color: #000000;
	line-height: normal;
}
/*=E 覆盖site.css*/

* {
	-webkit-box-sizing: border-box;/* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;   /* Firefox, other Gecko */
	box-sizing: border-box;        /* Opera/IE 8+ */
}
.altxt {
	position: absolute;
	left: -9999em;
	visibility: hidden;
}
/*.clearfix {
	*zoom:1;
	clear:both;
}
.clearfix:after {
	content:" ";
	clear:both;
	display:block;
}*/

/**
 * http://nicolasgallagher.com/micro-clearfix-hack/
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
	content: ".";
display: block;
height: 0;
visibility: hidden;
}
.clearfix:after {
	clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
 *zoom: 1;
}
.clr {
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}
.mt10 {
	margin-top: 10px;
}
.mr10 {
	margin-right: 10px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
body {
	background: url(../images/bg_bd.png) repeat;
	color: #000;
}
ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.module-title {
    margin:0;
}
/*=S 去掉链接外框 主要是ie*/
/*v1
a {
    blr: expression(this.onFocus=this.close());
    blr: expression(this.onFocus=this.blur());
}
a:focus {
    -moz-outline-style: none;
    outline: none;
}
*/
/*v1.1
a, area {
	blr: expression(this.onFocus=this.blur());
}
:focus {
    outline: none;
}
*/
/*v2 是在标准模式下取得的
:focus {解决label button虚线框
	outline:none;
}
a {解决非ie虚线框
    outline:none;
}
a:acitve {未使用a 效率优化
    blr:expression(this.onFocus=this.blur());
}
a:focus {解决后退后显示虚线框
	outline:none;
}
*/
/*通过ie html属性 hidefocus处理*/
/*=E 去掉链接外框 主要是ie*/

/*=S 样式 */
.hide{
	display:none;
}

/*header start*/
.header {
	background: url(../images/bg_header.png) repeat-x;
}
.logo {
	position: relative;
	margin: 0 auto;
	width: 1002px;
	height: 104px;
}
.logo img{
	position: absolute;
	top: 30px;
	left: 0;
	width: 275px;
	height: 47px;
}
.logo_loginbar {
	position: absolute;
	right: 0;
	top: 12px;
	color: #fff ;
	font-size: 14px;
}
.logo_loginbar a {
	color: #fff!important;
	display:inline-block;
}
.nav {
	height: 36px;
	background: url(../images/bg_nav.gif) repeat-x;
}
.nav_main, .nav_chn ul {
	margin: 0 auto;
	width: 1002px;
}
.nav_main li {
	float: left;
	width:110px;
}
.nav_main li a {
	display:block;
	color:#DCE068 !important;
	font-size: 14px;
	line-height: 36px;
	font-weight: bold;
	text-align: center;
	height:36px;
	_padding-top:10px;
}
.nav_main li a:hover {
	color: #FFF !important;
	background: url(../images/nav_active.png) center no-repeat;
}
.active .nav_chn{
	display:block;
}
.nav_chn {
	display:none;
	position: absolute;
	left: 0;
	top: 140px;
	width:100%;
	_width:1436px;
	height: 35px;
	background: url(../images/bg_nav_chn.png) repeat-x;
}
.nav_chn li {
	float: left;
	width: 68px;
	background: url(../images/icon_2.gif) no-repeat left 43%;
	_background-position:left 30%;
}
.nav_chn li a {
	padding-left: 2px;
	color: #000 !important;
	font-size: 12px;
	line-height: 30px;
	font-weight: normal;
}
.nav_chn li a:hover {
	color: #8B2808 !important;
	background: none;
}
.banner {
	height: 355px;
	background: url(../images/bg_banner.png) repeat-x;
	_margin-top:-10px;
}
.banner_main {
	width: 1373px;
	height: 355px;
	background: url(../images/banner.gif) no-repeat center;
}
/*header over*/
.content,.footer{
	margin: 0 auto;		
}

/*content start*/
.content {
	width: 1006px;
	padding:20px;
	position:relative;
	background: url(../images/bg_content.png) repeat-y;
}
.content_mid {
	width:418px;
	margin-left:260px;
}
.content_left {
	position:absolute;
	width: 250px;
	top:20px;
	left:16px;
}
.content_right {
	width:280px;
	position:absolute;
	top:20px;
	right:16px;
	*+right:55px;
	_right:0px;
}
.hd {
	margin-bottom:10px;
}
.hd h3{
	display:inline;
	margin: 0;
	font-size: 14px;
	color: #178917;
	font-weight: bold;
	padding: 4px 0 4px 18px;	
}
.module{
	padding: 10px;
	margin-bottom: 20px;	
}
.hd{
	position:relative;
}
.module .module-more{
	position:absolute;
	top:2px;
	right:5px;
	width: 29px;
	height: 7px;
	margin-top: 6px;
	background: url(../images/more.gif) no-repeat;
	text-indent: -9999px;
}
.content_right .module-more{
	_right:60px;	
}
.module .bd {
	margin-top: 6px;
}
/*style01 start*/
.style01 {
	padding:8px 0 0 0;
	background:url(../images/bg_style01_title.png) repeat-x 0 6px;	
}
.style01 .hd{
	background:url(../images/icon_0.gif) no-repeat left 42%;
}
.style01 .module-title{
	padding-right:14px;
	border-bottom:6px solid #FFF;
}
.style01 .hd span{
	margin-left:2px;
	font-weight:normal;
	text-transform: uppercase;
	color:#b6b5b5;
	font-family:"微软雅黑","黑体","宋体";
}
.xyxw .bd .model{
	width:418px;
	height:190px;
}
.tabPanel{
	padding-left:15px;
}
.tabs {
	float:left;
	width:90px;
}
.tabs a{
	position:relative;
	height:26px;
	*height:1%;
	padding:6px 8px;
}
.tabs .active a{
	color:#fff;
	background-color:#178917;
}
.tabs .active em{
	display:block;
	position:absolute;
	top:8px;
	right:-7px;
	width:8px;
	height:9px;
	background:url(../images/icon_list.gif) no-repeat;	
}
.panels,.panels .model{
	width:312px;
	height:200px;
}

/*style01 over*/

/*style02 start*/
.style02,.style03,.style04{
	border: 1px solid #ddd;
	background: url(../images/bg_sidebar.png) repeat-x;
}
.style02 .hd{
	padding-bottom:6px;
	border-bottom: 1px solid #ddd;
	background: url(../images/icon_title.gif) no-repeat left 42%;
}
.style02 .bd li {
	color: #5a5a5a;
	line-height: 2em;
}
.style02 .bd li a {
	color: #5a5a5a;
	line-height: 2em;
	padding-left: 8px;
	background: url(../images/list_style_0.png) left center no-repeat;
}
.style02 .bd li a:hover {
	color: #C00108;
	background: url(../images/list_style_1.png) left center no-repeat;
}
.style02 .bd p a {
	color: #5a5a5a;
	text-indent: 2em;
	line-height: 1.5em;
}
.style02 .bd p {
	color: #178917;
	margin: 8px 0;
}
.style02 .bd_vote label {
	text-align: left;
	width: auto;
	font-weight: normal;
	margin: 0 10px 0 0;
	float: left;
	display: inline;
	line-height: 1.8em;
	font-size: 12px;
}
.style02 .bd_vote input {
	float: left;
	display: inline;
	margin: 2px 12px 0 4px;
}
.style02 .bd_btn1 a {
	margin: 10px 0 0 25px;
}
.btn1{
	width: 66px;
	height: 24px;
	line-height:24px !important;
	text-align: center;
	font-weight: bold;
	color: #555 !important;
	background: url(../images/btn_1.png) no-repeat;
}
/*style02 start*/

/*style03 over*/
.sliderImg{
	padding:8px;
	margin-bottom:20px;
	width:280px;
	*width:261px;		
}
.sliderImg_main{
	position:relative;
	width:264px;
	height:204px;
	overflow:hidden;	
}
.sliderImg_main ul,.num{
	position:absolute;
}
.slider{
	font-size:0;
}
.sliderImg_main img{
	display:block;
	width:264px;
	height:204px;
}
.sliderImg_title{
	position:absolute;
	left:0;
	bottom:0;
	height:22px;
	width:264px;
	line-height:22px;
	color:#fff;
	background:url(../images/bg_slider.png) repeat-x;
}
.sliderImg_title h3{
	margin:0;
	padding-left:5px;
}
.sliderImg_title .num{
	top:1px;
	right:2px;
}
.sliderImg_title .num li{
	float:left;
	line-height:18px;
	padding:0 6px;
	margin:2px;
	background-color:#C90400;
}
.sliderImg_title  .num li.on{
	background-color:#ffa800;
}
/*style03 over*/

/*searchBox start*/
.searchBox{
	padding:20px 16px;	
}
.searchBox input{
	display:block;
	width:243px;
	margin-bottom:10px;
	_width:234px;
}
.searchBox select,.searchBox input{
	color:#666;
	padding:2px 4px;
}
.searchBox .btn1{
	float:right;
	*float:none;
	*margin-left:75px;
}

.content_right .email,.content_right .talk{
	display:block;
	width:281px;
	height:51px;
	font-size:24px;
	line-height:51px;
	padding-left:50px;
	margin:10px 0;
	color:#fff !important;
}
.email{
	background:url(../images/email.png) no-repeat;
}
.talk{
	background:url(../images/talk.png) no-repeat;
}
/*searchBox over*/

.content_ft{
	_position:relative;
	overflow:hidden;
}

/*content_pic start*/
.content_ft{
	*width:968px;
	margin-top:10px;	
}
.content_pic{
	height:158px;
	background-color:#F4F4F4;
	margin-bottom:20px;
	border-right:2px solid #04C604;		
}
.content_pic li{
	float:left;
}
.content_pic .title,.pic_left,.pic_right{
	display:block;
	float:left;
	width:26px;
	height:158px;
	*+height:128px;	
}
.content_pic .title{
	font-size:14px;
	font-weight:bold;
	line-height:1.4em;
	text-align:center;
	padding-top:30px;
	background:url(../images/icon_off.gif) 7px 120px no-repeat;
	color:#fff;
	cursor:pointer;
}
.content_pic li .title.tit01{
	background-color:#017301 !important;	
}
.content_pic li .title.tit02{
	background-color:#198B19 !important;	
}
.content_pic li .title.tit03{
	background-color:#04C604 !important;	
}
.content_pic .active .title{
	background:url(../images/icon_on.gif) 9px 120px no-repeat;
}
.content_pic .active .pic_silder{
	display:block;
}
.pic_silder{
	float:left;
	width:886px;
	height:158px;
}
.pic_left{
	background:url(../images/icon_left.gif) no-repeat center;	
}
.pic_right{
	background:url(../images/icon%20_right.png) no-repeat center;	
}
.imgBox{
	*position:relative;
	float:left;
	width:830px;
	overflow:hidden;	
}
.imgList{
	position:relative;
	width:114011px;
	float:left;
}
.pic_silder li{
	float:left;
	width:130px;
	margin:4px;
	padding-top:25px;
}
.pic_silder p{
	text-align:center;
	margin:5px;	
}

/*content_pic over*/

/*friendlink start*/
.friendlink{
	border:1px solid #ddd;
	border-left:3px solid #017301;
}
.friendlink li{
	float:left;
	height:40px;
	color:#666;	
}
.friendlink_title{
	width:52px;	
	padding:0 8px 0 5px;
	background:url(../images/bg_friendlink.png) right no-repeat;
}
.friendlink_title h3{
	margin:3px 4px;
	color:#017301;
}
.friendlink li a{
	_padding-top:14px;
	line-height:40px;
	margin:0 20px;
	color:#666;	
}
/*friendlink over*/

/*content over*/


/*footer start*/
.footer{
	width:1002px;
	padding-top:6px;
	background:url(../images/bg_bottom.png) repeat-x top;
}
.footer p{
	color:#666;
	text-align:center;
}
.footer a{
	color:#666;
	padding:0 5px;
}
/*footer over*/




/*=E 样式 */

/*=S 后期维护 */
/*put your css code here*/
/*=E 后期维护 */

/*=S 嵌套辅助 */
.model {
	background-color:#888888;
}
/*=S 嵌套辅助 */

